In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env
import wrangle

In [2]:
df = wrangle.wrangle_zillow()
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,3.0,2.0,1831.0,27516.0,1964.0,5409.00,6037.0
1,3.0,2.0,1831.0,10.0,1964.0,5409.00,6037.0
2,3.0,2.0,1831.0,10.0,1964.0,5409.00,6037.0
3,3.0,2.0,1831.0,2108.0,1964.0,174.21,6037.0
4,NaN,NaN,3633.0,296425.0,2005.0,6941.39,6037.0

In [3]:
df.isnull().sum()

bedroomcnt                      2139676
bathroomcnt                     2139836
calculatedfinishedsquarefeet          0
taxvaluedollarcnt                     0
yearbuilt                             0
taxamount                             0
fips                                  0
dtype: int64

In [6]:
df.isnull().any()

bedroomcnt                      False
bathroomcnt                     False
calculatedfinishedsquarefeet    False
taxvaluedollarcnt               False
yearbuilt                       False
taxamount                       False
fips                            False
dtype: bool

In [2]:
df = wrangle.get_zillow_data()
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,9.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
2,0.0,0.0,73026.0,1434941.0,1959.0,20800.37,6037.0
3,0.0,0.0,5068.0,1174475.0,1948.0,14557.57,6037.0
4,0.0,0.0,1776.0,440101.0,1947.0,5725.17,6037.0

In [3]:
df.shape

(2985217, 7)

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,2982272.0,3.093362,1.271569,0.00,2.00,3.00,4.0,2.500000e+01
bathroomcnt,2982260.0,2.216196,1.078250,0.00,2.00,2.00,3.0,3.200000e+01
calculatedfinishedsquarefeet,2940120.0,1831.455292,1954.198051,1.00,1215.00,1574.00,2140.0,9.525760e+05
taxvaluedollarcnt,2950951.0,443527.931066,816336.627054,1.00,188220.00,321161.00,514072.0,3.196225e+08
yearbuilt,2937384.0,1964.437713,23.644275,1801.00,1950.00,1963.00,1981.0,2.016000e+03
taxamount,2962465.0,5408.948842,9675.566706,0.24,2468.62,4007.62,6230.5,3.823176e+06
fips,2982285.0,6048.053490,20.240825,6037.00,6037.00,6037.00,6059.0,6.111000e+03

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2985217 entries, 0 to 2985216
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 182.2 MB

In [6]:
df.isnull().sum()

bedroomcnt                       2945
bathroomcnt                      2957
calculatedfinishedsquarefeet    45097
taxvaluedollarcnt               34266
yearbuilt                       47833
taxamount                       22752
fips                             2932
dtype: int64

In [7]:
round(df.bedroomcnt.mean(),1)

3.1

In [8]:
round(df.bathroomcnt.mean(),0)

2.0

In [9]:
round(df.fips.mean(),0)

6048.0

In [7]:
round(df.taxvaluedollarcnt.mean(), 2)

443527.93

In [8]:
round(df.calculatedfinishedsquarefeet.mean(), 2)

1831.46

In [9]:
df.yearbuilt.mean()

1964.4377132850182

In [10]:
df.taxamount.mean()

5408.948842055877

Due to the amount of nulls in each column, I made a decision to fill all null values with the avg value within their respective column if the number of nulls were greater than 10k, if the number of nulls were less then I removed those houses from the dataframe.

In [10]:
df.calculatedfinishedsquarefeet = df.calculatedfinishedsquarefeet.fillna(value=1831)
df.taxvaluedollarcnt = df.taxvaluedollarcnt.fillna(value=443528)
df.yearbuilt = df.yearbuilt.fillna(value=1964)
df.taxamount = df.taxamount.fillna(value=5409)
df.bedroomcnt = df.bedroomcnt.fillna(value=3)
df.bathroomcnt = df.bathroomcnt.fillna(value=2)
df.fips = df.fips.fillna(value=6048)
df.bedroomcnt = df.bedroomcnt[df.bedroomcnt==0].replace(0, 3)
df.bathroomcnt = df.bathroomcnt[df.bathroomcnt==0].replace(0,2)

In [11]:
df.isnull().any()

bedroomcnt                      False
bathroomcnt                     False
calculatedfinishedsquarefeet    False
taxvaluedollarcnt               False
yearbuilt                       False
taxamount                       False
fips                            False
dtype: bool

In [14]:
df.bedroomcnt = df.bedroomcnt[df.bedroomcnt==0].replace(0, 3)

In [15]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,3.0,0.0,1831.0,9.0,1964.0,5409.00,6037.0
1,3.0,0.0,1831.0,27516.0,1964.0,5409.00,6037.0
2,3.0,0.0,73026.0,1434941.0,1959.0,20800.37,6037.0
3,3.0,0.0,5068.0,1174475.0,1948.0,14557.57,6037.0
4,3.0,0.0,1776.0,440101.0,1947.0,5725.17,6037.0

In [16]:
df.bathroomcnt = df.bathroomcnt[df.bathroomcnt==0].replace(0,2)

In [17]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,3.0,2.0,1831.0,9.0,1964.0,5409.00,6037.0
1,3.0,2.0,1831.0,27516.0,1964.0,5409.00,6037.0
2,3.0,2.0,73026.0,1434941.0,1959.0,20800.37,6037.0
3,3.0,2.0,5068.0,1174475.0,1948.0,14557.57,6037.0
4,3.0,2.0,1776.0,440101.0,1947.0,5725.17,6037.0

In [8]:
df.fips[df.fips==0]

Series([], Name: fips, dtype: float64)